.bannerEntry {
    position: absolute;
    width: 251px;
    height: 357px;
    right: 0;
    top: 219px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #86D3F4;
    align-items: center;
    animation: showBanner 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}
.bannerEntry h2 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-transform: uppercase ;
    text-align: center;
}
.bannerEntry div {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.bannerEntry .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 52px;
    background-color: black;
    color: #86D3F4;
}

@keyframes showBanner {
  0% {
      visibility: hidden;
  }
    100% {
        visibility: inherit;
    }
}
